<MudDialog>
    <DialogContent>
        <MudStack Spacing="3">
            @if (!string.IsNullOrEmpty(Icon))
            {
                <div style="text-align: center;">
                    <MudIcon Icon="@Icon" 
                             Color="@IconColor" 
                             Size="Size.Large" 
                             Style="font-size: 64px;" />
                </div>
            }
            
            <MudText Typo="Typo.h6" Align="Align.Center">
                @Title
            </MudText>
            
            <MudText Typo="Typo.body1" Align="Align.Center">
                @Message
            </MudText>
            
            @if (!string.IsNullOrEmpty(WarningText))
            {
                <MudAlert Severity="Severity.Warning" Dense="true">
                    @WarningText
                </MudAlert>
            }
        </MudStack>
    </DialogContent>
    
    <DialogActions>
        <MudButton OnClick="@Cancel" 
                   Variant="Variant.Text">
            @CancelText
        </MudButton>
        <MudButton OnClick="@Confirm" 
                   Variant="Variant.Filled"
                   Color="@ConfirmColor">
            @ConfirmText
        </MudButton>
    </DialogActions>
</MudDialog>